@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Dancing+Script|Indie+Flower|Lobster|Pacifico&display=swap");

.fonta {
  font-family: "Indie Flower", cursive;
}
.fontb {
  font-family: "Amatic SC", cursive;
}
.fontc{
  font-family: "Dancing Script", cursive;
}
.fontd {
  font-family: "Pacifico", cursive;
}
.fontf {
  font-family: "Lobster", cursive;
}