.profilecard-background {
  /* background-color: #fff; */
  height: 320px;
  width: 100%;
  filter: saturate(180%) blur(35px);
  /* background-color: #E1306C; */
  background-size: 260px 360px;
  background-position: center;
  background-repeat: no-repeat;
}

.profilecard-image {
  box-shadow: 0 0 0pt 4pt #fff;
  background-size: cover;
  height: 192px;
  width: 192px;
  position: absolute;
  z-index: 1;
  top: 24px;
  left: 0;
  right: 0;
  margin: auto;
}

.profilecard-text {
  position: absolute;
  z-index: 1;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
  text-shadow: 0px 0px 4px #000;
  color: #fff;
}
